@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
  }
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-text{
    position: absolute;
    height: 100%;
    width: 100%;
    animation: anim 10s linear infinite;
}
@keyframes anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.circle-text span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin:  0 100px;
}
